version: '3.8'

services:

  # ■■ SERVICIO BASE DE DATOS ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  db:
    image: mariadb:10.11
    container_name: examen_db
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: componentes_db
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword

    volumes:
      - db_data:/var/lib/mysql
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

    networks:
      - app_network

  # ■■ SERVICIO WEB PHP + APACHE ■■■■■■■■■■■■■■■■■■■■■■■■■■
  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile

    container_name: examen_web
    restart: unless-stopped

    ports:
      - "80:80"

    environment:
      DB_HOST: db
      DB_NAME: componentes_db
      DB_USER: appuser
      DB_PASS: apppassword
      DB_PORT: 3306

    volumes:
      - ./src:/var/www/html

    depends_on:
      - db

    networks:
      - app_network

# ■■ VOLUMEN CON NOMBRE (persistencia) ■■■■■■■■■■■■■■■■■■■■■
volumes:
  db_data:

# ■■ RED INTERNA (comunicacion entre contenedores) ■■■■■■■■■
networks:
  app_network:
    driver: bridge
